
<form [formGroup]="noteform" (ngSubmit)="onSubmit()">
    <div *ngIf="!show" class="titlecontainer">
        <input type="text" class="note-section-new" placeholder="Title" formControlName="title"
             required>
        <input type="text" class="note-section-new" placeholder="Description" formControlName="description"
             required>
        <div class="rowsection">
            <app-noteicons></app-noteicons>
            <button type="submit" mat-button class="btn-close">Close</button>
        </div>    
        
    </div>

</form>

    <div class="note1container" *ngIf="show" (click)="isShow()">
        <input name="text" id="text" class="note-section" placeholder="Take a note...">
            <div class="note1container2">
                <div>
                    <img srcset="./assets/check_box.png" width="40px"/>
                </div>
                <div>
                    <img srcset="./assets/edit.png" width="40px"/>
                </div>
                <div>
                    <img srcset="./assets/imagesmode.png" width="40px"/>
                </div>
                  
            </div>
    </div>

    
