.rowcontainer{
    display: flex;
    flex-direction: row;
    width:7vw;
    margin-left:0px;
    height: 40px;
    align-items: center;
    justify-content:space-evenly;
    border: '';
    
}

.image {
    position: relative;
  }

  .image .text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size:15px;
    text-align: center;
    visibility: hidden;
    border: '';
  }
  .image:hover .text {
    visibility: visible;
  }