<div class="Container">
    <div class='imgset'>
        <img srcset="/assets/logo2.PNG"/>
    </div>
    <div class='item1'>
        <div>
            <h1>Account Recovery</h1>
        </div>
       
        
    </div>
   <br>
    <div class="inputlabel">
        <h3>An email with a verification code was just sent</h3>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Enter code</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    
    <br>
    <br>
    <br>
    <div class="lastlabel">
        <span>
          <button mat-raised-button color="primary">Next</button>
        </span>
        
      </div>
</div>