<div class="rowcontainer" [style.background-color]="{notecolor}">
    <div class="image">
         <img srcset="./assets/add_alert.png" width="25px" style="margin-right: 10px;"/>
        <div class="text">Remind</div>
    </div>
    <div class="image">
        <img srcset="./assets/person.png" width="25px" style="margin-right: 10px;"/>
        <div class="text">Collab</div>
    </div>

    <div class="image">
        <img [matMenuTriggerFor]="colormenu" srcset="./assets/palette.png" width="25px" style="margin-right: 10px;"/>
        <div class="text">color</div>
        <mat-menu #colormenu="matMenu" class="colorrow">
            <div class="colorrow">
            <div *ngFor="let color of colorarray">
                <div class="colorbutton" [style.background-color]="color" (click)="updatecolor(color)">
                    
                </div>
            </div>
            </div>
        </mat-menu>

    </div>
    
    <div class="image">
        <img srcset="./assets/imagesmode.png" width="25px" style="margin-right: 10px;"/>
        <div class="text">image</div>
    </div>
    <div class="image">
        <img srcset="./assets/archive.png" width="25px" style="margin-right: 10px;" (click)="isArchieve()"/>
        <div class="text">Archieve</div>
    </div>
    <div class="image">
        <img [matMenuTriggerFor]="menu" srcset="./assets/more.png" width="25px" style="margin-right: 10px;"/>
        <div class="text">More</div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="isTrash()">Delete Note</button>
            <button mat-menu-item>Add Label</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>
        </mat-menu>
    </div>
</div>