.rowcontainer{
    display: flex;
    flex-direction: row;
    width:20vw;
    height: 40px;
    align-items: center;
    justify-content:space-evenly;
    border: '';
    
}

.colorrow{
    display: flex;
    flex-direction: row;    
    width: 30vw;
   
}

.colorbutton{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 50px;
}