<div class="rowcontainer">
    <div>
        <img srcset="./assets/add_alert.png" width="25px" style="margin-right: 10px;"/>
    </div>
    <div>
        <img srcset="./assets/person.png" width="25px" style="margin-right: 10px;"/>
    </div>
    <div>
        <img srcset="./assets/palette.png" width="25px" style="margin-right: 10px;"/>
    </div>
    <div>
        <img srcset="./assets/imagesmode.png" width="25px" style="margin-right: 10px;"/>
    </div>
    <div>
        <img srcset="./assets/archive.png" width="25px" style="margin-right: 10px;"/>
    </div>
    <div>
        <img srcset="./assets/more.png" width="25px" style="margin-right: 10px;"/>
    </div>
</div>