<div class="main"> 
    <div>
        <mat-form-field class="texttitle">
        <input matInput type="text"  [(ngModel)]="title">
        </mat-form-field>
        <mat-form-field class="texttitle">
            <input matInput type="text" class="texttitle"  [(ngModel)]="description">
        </mat-form-field>
    </div>
    <div class="lastrow">
        <span>
            <app-noteicons [noteID]="noteId"></app-noteicons>
        </span>
        <span>
            <button mat-button class="closebutton" (click)="updatenote()">Close</button>
        </span>
    </div>

</div>