<mat-card>
<div class="main" [style.background-color]="color"> 
    <div [style.background-color]="color">
        <input type="text" class="texttitle" [style.background-color]="color" [(ngModel)]="title" >
        <input type="text" class="texttitle" [style.background-color]="color" [(ngModel)]="description">
    </div>
    <div class="lastrow" [style.background-color]="color">
        <span>
            <app-noteicons [noteID]="noteId"></app-noteicons>
        </span>
        <span>
            <button mat-button class="closebutton" (click)="updatenote()">Close</button>
        </span>
    </div>

</div>
</mat-card>