.main{
    display: flex;
    flex-direction: column;
}

.texttitle{
    border: none;
    font-size:15px;
    height: 5vw;
    width: 39.7vw;
}

.lastrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}