.Container{
    display: flex;
    flex-direction: row;
    height: 95vh;
    width:60vw;
    margin-top: 20px;
    margin-left: 300px;
    border: 0.5ch white;
    border-style:ridge;
    border-radius: 2mm;
}
::ng-deep.mat-mdc-form-field-infix{
    height: -100px;
}

.Container1{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width:35vw;
    margin-top: 0px;
    margin-left: 0px;
    border: '';
    
}


.Container2{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width:30vw;
    margin-top:0px;
    border: '';
}

.Column2{
    display: flex;
    flex-direction:column;
    width: 20vw;
    height: 40vh;
    margin-top: 90px;
    margin-left: 30px;
    text-indent:6ch;
    border:'';
}

.textfix{
    margin-left: 25px;
}
.img{
    width:12vw;
    height:25vh;
    margin-left:2cm; 
    padding-top: 1ch;
}

.imageset{
    margin-left:6mm;
    margin-top: 6mm;
    
}

.labeltext{
    width:10cm ;
}

.inputtext{
    margin-left: 5mm;
}




.Box1{
    display: flexbox;
    flex-direction: row;
    width:37vw;
    margin-left: 0px;
    text-align: start;
    text-indent: 4ch;
    border: '';
    font-family: 'Times New Roman', Times, serif;
}

.Box2{
    display: flex;
    flex-direction: row;
    height: 9vh;
    width: 32vw;
    margin-left: 3.5ch;
    justify-content:space-between; 
    border: '';
}

.Box3{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 50vw;
    margin-left: 3.5ch;
    margin-top:2ch;
}

.example-full-width {
    width: 64%;
  }

.Box4{
    display: flex;
    flex-direction: row;
    height: 6vh;
    width: 30vw;
    margin-left: 3.5ch;
    justify-content:space-between; 
    
    
    
}

.input{
    width: 50ch;
    height:4ch;
    
}

.lastlabel{
    display: flex;
    flex-direction: row;
    height: 7vh; 
    width: 32vw;
    margin-left: 25px;
    border: '';
    justify-content:space-between;
    align-items: flex-start;
}

.btn1 {
    display: flex;
    flex-direction: row;
    border: none;
    background-color: inherit;
    margin-left: 3ch;
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    color:blue;  
  }
  .btn1:hover {background: #eee;}

  .btn2{
    display: flex;
    flex-direction: row;
    background-color: #0000ff;
    width:18mm;
    height: 10mm;
    margin-left:27ch;
    color: white;
    align-items: center;
    text-indent:1.5ch;
    
}
.btn2:hover{background: navy;}

.Checkbox{
    display: flex;
    flex-direction: row;
    margin-right:8.5cm;
    margin-left:7mm;
    height: 2cm;
    font-size: small;
    align-items: center;
    width:10vw;
    text-indent:3mm;
    
    
}
h5{
    text-align:center;
    text-indent: 4ch;
    margin-left: 10ch;
}

.textset{
    margin-left:6%;
    margin-top: 3mm;
    font-size: small;
}

.textset1{
    margin-left:6%;
    margin-top: 1mm;
    font-size: small;
}

.leftside3{
    margin-left: 40px;
    margin-top: 1px;
}
.leftside4{
    margin-left: 10px;
    margin-top: -20px;
}